<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>542145601165-o7m03aa6dipidvbri7ccfqt5rp22g713.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.542145601165-o7m03aa6dipidvbri7ccfqt5rp22g713</string>
	<key>API_KEY</key>
	<string>AIzaSyDop2nfRuJa6UuOr1tTCwrXfEXvhoR7KYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>542145601165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flywork.lingolajobapp</string>
	<key>PROJECT_ID</key>
	<string>lingola-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>lingola-backend.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542145601165:ios:cec58918bae647a5ae4cc4</string>
</dict>
</plist>